.canvas {
  border: 2px solid grey;
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 700px;
  height: 700px;
}

.square {
  height: 100%;
  width: 100%;
  flex: 1 1 auto;
}

.row {
  display: flex;
  flex: 1 1 auto;
  gap: 2px;
}
